@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<div class="container mt-5">
  <h2 class="mb-3">Edit</h2>
  <h4 class="mb-3">Edit this item: <span class="text-primary">@Html.DisplayFor(model => model.Description)</span></h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.ItemId)

    <div class="mb-3">
      @Html.LabelFor(model => model.Description, new { @class = "form-label" })
      @Html.EditorFor(model => model.Description, new { @class = "form-control" })
    </div>

    <div class="mb-3">
      @Html.LabelFor(model => model.Category, new { @class = "form-label" })
      @Html.DropDownList("CategoryId", null, new { @class = "form-select" })
    </div>

    <input type="submit" value="Save" class="btn btn-primary mb-3" />
  }

  <p><a href="@Url.Action("Index")" class="btn btn-secondary">Back to list</a></p>
</div>